<form action="/companies" method="POST">
    <label for="name">Name</label>
    <input type="text" name="name">

    <label for="drivers_licence">Driver's Licence Number :</label>
    <input type="number" name="drivers_licence">

    <label for="cellphone_number">Cellphone Number :</label>
    <input type="number" name="cellphone_number">

    <label for="driver_locayion">Driver Location :</label>
    <input type="text" name="driver_location">

    <label for="operate_truck">Operate Truck # :</label>
    <input type="number" name="operate_truck">

    <label for="operate_trailer">Operate Trailer # :</label>
    <input type="number" name="operate_trailer">


    <input type="submit" value="Create">
</form>